%div(align="center")
  %h3 GuessFourDs
  %hr
  %br
    %input.input-full.text-center(type = "text" disabled="true" value="{{alert_message}}" )
  %br
    %input.input-mini.text-center(type = "text" disabled="true" value="result")
    %input.text-center(type = "text" disabled="true" value="{{display}}" )
  %br
    %input.input-mini.text-center(type = "text" disabled="true" value="input")
    %input#input_id.input-medium.text-center(type = "number" ng-model="num_input")
  %br
    %button(class="{{class_start}}" ng-model="start_game_button" ng-tap="start_this_game()") Begin
    %button(class="{{class_compare}}" ng-model="compute_result_button" ng-tap="guess_it()") Compare
